.navbar {
  background: #ffffff;
  box-shadow: 20px 20px 60px #f3f1f1, -20px -20px 60px #ffffff;
  padding: 12px;

  margin-bottom: 7rem;
}

.header-content h1,
p,
.btn {
  margin-bottom: 2rem;
  margin: 1rem 5px;
}

.header-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1b102d;
}

img {
  height: 300px;
  margin-left: 25px;
}

.btn-started {
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 18px;
  color: #546fff;
  border-color: rgba(84, 111, 255, 0.7);
}

.btn:hover {
  color: #546fff;
  background-color: rgb(245, 222, 252 0.7);
}

.customer__img {
  background-color: rgba(251, 251, 251, 0.96);
  height: 60vh;
  margin-top: 6rem;



}

.customer__img img {
  width: 120px;
  height: 120px;
  margin: 15px;
}

.customer__content {
  text-align: center;
  padding-top: 5rem;
  font-size: 20px

}

.stories-link a{
  text-align: center;
  padding-top: 5rem;
  font-size: 20px

}

